$dark-color : #212529;
$text-color : #fff;

@font-face{
    font-family: 'Raleway';
    src: url("../font/Raleway-VariableFont_wght.ttf");
}


body{
    background-color: #000;
}


%bloc{
    color: $text-color;
    padding: 50px 20px;
    font-family: "Raleway";
    text-align: center;
}

header{
    width: 100%;
    height: 600px;
    background-image: url(../img/man-riding-bicycle-during-nightfall-207779.jpg);
    background-attachment: fixed;
    background-size: cover;
    font-family: "Raleway";
    
    .title-main{
        color: white;
        text-align: center;
        padding: 17%;
        h1{
            font-size: 50px;
        }
        h6{
            color: #fff;
            text-align: center;
        }
    }
    
}


%img-gallery{
    width: 100%;
    height: 90%;
    margin: 20px;
}

.container-fluid{
    background-color: $dark-color;

    .intro{
        @extend %bloc;
        width: 50%;
        margin: 0 auto;
        border-bottom: 1px solid #fff;

        h2, h6{
            margin-bottom: 30px;
        }

        p{
            line-height: 35px;
            font-size: 120%;
        }
    }

    .gallery{
        @extend %bloc;
        
        img{
            @extend %img-gallery; 
        }

        h2{
            padding-bottom: 30px;
        }
          
    }

    .louer{
        @extend %bloc;

        h2{
            padding-bottom: 20px;
            width: 50%;
            border-top: 1px solid #fff;
            margin: 0 auto;
            padding-top: 40px;
            padding-bottom: 60px;
        }
        form{
            label{
                padding: 30px 10px;
                font-size: 180%;
            }
        
            input{
                margin: 10px;
                background-color: $dark-color;
                color: #fff;
                border-radius: 5px;
                border: 1px solid #fff;
                font-size: 130%;
                padding: 3px;
            }
        
            input[type="submit"]{
                background-color: $dark-color;
                border: 1px solid #fff;
                color: #fff;
                border-radius: 5px;
                margin-top: 40px;
                margin-bottom: 40px;
                padding: 10px 15px;
                width: 20%;
        
                &:hover{
                    background-color: #fff;
                    color: #000;
                    transition: 1s;
                }
            }

            select{
                background-color: $dark-color;
                color: #fff;
                border-radius: 5px;
                border: 1px solid #fff;
                font-size: 130%;
                margin-top: 10px;
            }
        }
    
    }
    
    .contact{
        @extend %bloc;
        h2{
            padding-bottom: 20px;
            width: 50%;
            border-top: 1px solid #fff;
            margin: 0 auto;
            padding-top: 40px;  
        }
        form{
            text-align: left;
            width: 60%;
            margin: 0 auto;
            label{
                padding: 10px;
                font-size: 160%;
                
            }
        
            input{
                margin: 10px;
                width: 50%;
                background-color: $dark-color;
                border: 1px solid #fff;
                border-radius: 5px;
                color: #fff;
                width: 100%;
                font-size: 130%;
            }

            textarea{
                width: 100%;
                background-color: $dark-color;
                color: #fff;
                border-radius: 5px;
                border: 1px solid #fff;
            }
        
            input[type="button"]{
                background-color: $dark-color;
                border: 1px solid #fff;
                color: #fff;
                border-radius: 5px;
                padding: 5px 10px;
                width: 100%;
                padding: 10px 20px;
        
                &:hover{
                    background-color: #fff;
                    color: #000;
                    transition: 1s;
                }
            }
        }
    }

    
    
}
.foot{
        background-color: $dark-color;
        color: white;
        text-align: center;

        
        .contain{
            width: 50%;
            margin: 0 auto;
            padding: 30px 10px;
            .copyright{
                border-top: 1px solid #fff;
                padding-top: 40px; 
            } 
        }
        
              
}

